/* Portfolio CSS - Add these styles for slick carousel */
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";


/* .portfolio { */
/* } */

.portfolio-section {
    /* padding: 20px; */
    /* display: flex; */
    /* justify-content: center;
        align-items: center; */
    /* width: 100%; */
}

.pItem {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    /* background: #fff; */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.pImg img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 10%; */
    object-fit: cover;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.pText {
    padding: 0;
    background-color: rgba(0, 0, 0, 0.61);
    border-radius: 12px;
    backdrop-filter: blur(1px);
    padding: 20px;
    text-align: center;
    position: absolute;
    color: white;

    margin-top: 4.5%;
}

.pText h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.pText p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.pText button {
    padding: 10px 20px;
    background-color: rgb(73, 5, 129);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pText button:hover {
    background-color: #c33f55;
}

/* Styling for the carousel dots (optional) */
.slick-dots {
    bottom: 10px;
    text-align: center;
}

.slick-dots li button:before {
    color: #dd4c62;
}

@media (max-width: 1500px) {

    .pText {
        position: absolute;
    }

    /* Customize the appearance on medium screens */
    .pItem {
        width: 90%;
        /* Shrink the items on smaller screens */
    }
}

@media (max-width: 768px) {
    .portfolio-section {
        /* padding: 30px; */
        margin: 0;
        /* padding: 0; */
        /* width: 90%; */
        /* height: 9vh; */
    }

    .pItem {
        border: none;
    }

    .pImg img {
        width: 100%;
        /* height: 100%; */
        margin-top: 100px;

        border-radius: 10px;
    }

    .pText {
        position: relative;
        margin-top: 60px;
        background-color: none;
    }


    /* Customize the appearance on smaller screens */
    .pItem {
        width: 100%;
        /* Take up full width */
    }
}